<!DOCTYPE html>
<html>
    <head>
        <title>CRUD Nodejs Mongodb</title>
        <meta charset="UTF-8">
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

    <nav class="navbar nabvar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">CRUD Mongo<a>
        <a href="/search" class="nav-item" >Actions With Customers</a>
    </nav>